.bg-content {
    background: url(../img/bg-content.jpg) 50% 50%;
}
.container2 {
    width: 100%;
    text-align : center;
}
.block {
    overflow: hidden;
    padding-bottom: 20px;
    display: inline-block;
}

.block h1 {
    float: left;
    margin: 0;
    padding-right: 58px;
    line-height: 54px;
    color: #F25C27;
}
.block p {
    border-left: 1px solid #454545;
    padding: 0 0 0 26px;
    color:#fff;
}
.block div {
    overflow: hidden;
    padding: 20px 0 0 0;
}
h2 {
    font-size: 48px;
    line-height: 50px;
    margin: 21px 0 20px;
    color: #F25C27;
}

#login { 
    background-color:rgba(16, 16, 16, 0.5);

}

#login form { 
    margin: 0 
}

.output,#login input { 
    font-size: 10px; color: #fff;  
}

#login input { 
    background-color: #101010; 
    border: 1px solid #101010; 
    width: 139px;
    margin-bottom: 0 
}
#login input:focus {
    border-color: white ;
    border-color: rgba(255,255,255,.5);
}

.mrg{
    margin:10px;
}


.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}
.card {
    background-color: #F7F7F7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 20px;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 95px;
    height: 95px;
    margin: 0 auto 10px;
    display: block;
    border-radius: 50%;
}

.input-group-addon {
    border:none;
    background-color: #101010;
}

